<section class="pt-5 my-5">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-12">
                <p class="text-center bolder">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reiciendis quos similique possimus ex sit consequatur error, accusamus omnis laudantium blanditiis fugit autem cum sapiente deserunt necessitatibus praesentium eveniet magni.</p>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius cum obcaecati minima voluptas dolores officia exercitationem suscipit, blanditiis perspiciatis, aperiam, neque officiis! Veritatis, ut dolore. Placeat eum ipsam tempora consectetur.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="assets/scott-webb-hDyO6rr3kqk-unsplash.jpg" alt="home page image">
            </div>
        </div>
    </div>
</section>